.register {
    padding: 5px;
    margin: 15px;
}

.form-check {
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 15px;
}

.register-form {
    padding: 5px;
    margin: 15px;
}

.form-group {
    padding: 10px;
}